# Curso rápido de Python


* Numbers
* Strings
* Printando
* Listas
* Dicionários
* Boleanos
* Tuplas
* Sets


* Operadores de comparação
* if,elif, else
* for Loops
* while Loops
* range()
* Cláusulas break, continuee elseem Laços
* list comprehension
* funções
* expressões lamda
* map e filter
* métodos
____

## Tipos de dados

### Numéricos

In [1]:
1 + 1

2

In [60]:
2 * 3

6

In [61]:
6 / 2

3.0

In [62]:
5 ** 2

25

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [63]:
11 % 3

2

In [65]:
(3 + 3) * (4 + 4)

48

### Definição de variáveis

In [2]:
# Não se pode iniciar uma variável com números ou carateres especais
nome_da_variavel = 2

In [71]:
x = 3
y = 5
z = x + y
z

8

### Strings

In [12]:
'Citação simples'

'Citação simples'

In [13]:
"Citações duplas"

'Citações duplas'

In [73]:
variavel = "texto"
variavel

'texto'

### Printando

In [75]:
var1 = 'ola'
var1

'ola'

In [76]:
print(var1)

ola

In [7]:
idade = 44
nome = 'Glauco'
sobrenome = "Cardozo"

In [8]:
print('Me chamo {v1} {v2} e tenho: {v3}'.format(v1=nome,v2=sobrenome,v3=idade))

Me chamo Glauco Cardozo e tenho: 44

### Listas

Python possui diversas estruturas de dados nativas, utilizadas para agrupar outros valores. A mais versátil delas é a lista (list), que pode ser escrita como uma lista de valores
separados por vírgula e entre colchetes. Mais importante, os valores contidos na lista não precisam ser do mesmo tipo.

In [10]:
lista = [1, 2, 3, 4, 5, 6]
lista

[1, 2, 3, 4, 5, 6]

In [11]:
lista.append(7)
lista

[1, 2, 3, 4, 5, 6, 7]

In [13]:
lista[4]
#type(lista)

5

In [14]:
lista2 = ['hi',1,[1,2]]
lista2

['hi', 1, [1, 2]]

In [17]:
lista2[0][1]

'i'

In [18]:
minha_lista = ['a','b','c']

In [19]:
minha_lista.append('d')

In [20]:
minha_lista

['a', 'b', 'c', 'd']

In [21]:
minha_lista[0]

'a'

In [28]:
minha_lista[1]

'b'

In [29]:
minha_lista[:2]

['a', 'b']

In [22]:
minha_lista[2:]

['c', 'd']

In [24]:
minha_lista[0] = 'NOVO'
minha_lista

['NOVO', 'b', 'c', 'd']

In [25]:
string = "nome sobrenome"
string[:5]

'nome '

In [53]:
minha_lista

['NOVO', 'b', 'c', 'd']

In [52]:
minha_lista[0][:2]

'NO'

In [54]:
#lista aninhada

lista_aninhada = [1,2,3,[4,5,'target']]

In [55]:
lista_aninhada[3][2][2:4]

'rg'

In [56]:
lista_aninhada[3][2]

'target'

In [57]:
lista_aninhada[3][2][0]

't'

In [98]:
pilha = [3, 4, 5]
pilha.append(6)
pilha.append(7)
pilha

[3, 4, 5, 6, 7]

In [99]:
pilha.pop()
pilha

[3, 4, 5, 6]

In [97]:
fila = [3, 4, 5]
fila.append(6)
fila.append(7)
fila.pop(0)
fila

[4, 5, 6, 7]

### Dicionários

Tipo de lista com indexação

In [101]:
d = {'chave1':'item1','chave2':'item2'}
d

{'chave1': 'item1', 'chave2': 'item2'}

In [103]:
d['chave1']

'item1'

In [104]:
d = {'chave1':['item1.1','item1.2','item1.3'],'chave2':['item2.1','item2.2','item2.3']}

In [105]:
d['chave1'][1]

'item1.2'

### Tuplas

In [106]:
lista

[1, 2, 3, 4, 5, 6, 7]

In [107]:
lista[0]=22
lista

[22, 2, 3, 4, 5, 6, 7]

In [108]:
tupla = (1,2,3)

In [109]:
tupla[0]

1

In [111]:
tupla[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

Python também inclui um tipo de dados para conjuntos (sets). Um conjunto é uma coleção desordenada de dados, sem elementos duplicados. Usos comuns para isso incluem
verificações da existência de objetos em outros sequências e eliminação de items duplicados. Conjuntos também suportam operações matemáticas como união, interseção,
diferença e diferença simétrica.

In [125]:
vs1 = {1,2,3}
vs1

{1, 2, 3}

In [126]:
vs2 = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}
vs2

{1, 2, 3}

### Booleanos

In [117]:
True

True

In [130]:
False

False

In [118]:
1==1

True

In [119]:
(1!=1) and (1<2)

False

## Operadores de comparação

In [127]:
1 > 2

False

In [121]:
1 < 2

True

In [122]:
1 >= 1

True

In [123]:
1 <= 4

True

In [162]:
1 == 1

True

In [129]:
'oi' == 'tchau'

False

## Operadores lógicos

In [130]:
(1 > 2) and (2 < 3)

False

In [131]:
(1 > 2) or (2 < 3)

True

In [132]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else

In [133]:
if 1 < 2:
    print('Sim!')

Sim!

In [134]:
if 1 < 2:
    print('Primeiro')
else:
    print('Último')

Primeiro

In [135]:
if 1 > 2:
    print('Primeiro')
else:
    print('Último')

Último

In [136]:
if 1 == 2:
    print('Primeiro')
elif 3 == 3:
    print('Meio')
else:
    print('Último')

Meio

In [225]:
#if ternário

numero = 6
msg = "Par" if numero%2 == 0 else "Impar"
print(msg)

Par

## for Loops

In [198]:
seq = {1,2,3,4,5}
seq

{1, 2, 3, 4, 5}

In [199]:
for item in seq:
    print(item)

1
2
3
4
5

In [173]:
for item in seq:
    print('!')

!
!
!
!
!

In [174]:
for outra_coisa in seq:
    print(outra_coisa+outra_coisa)

2
4
6
8
10

## while Loops

In [187]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

Se você precisar iterar sobre sequências numéricas, a função interna range()é a resposta. Ela gera listas contendo progressões aritiméticas, por exemplo:

In [188]:
range(5)

range(0, 5)

In [189]:
for i in range(5):
    print(i)

0
1
2
3
4

In [190]:
list(range(5))

[0, 1, 2, 3, 4]

## Cláusulas break, continuee else em Laços

In [144]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n/x)
            break
    else:
        # loop caiu sem encontrar um fator
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

## Abrangência de Lista (List Comprehensions)

Abrangência de listas (ou list comprehensions) permitem a criação de listas de forma concisa sem apelar para o uso de map(), filter()e/ou lambda. A definição resultante
tende a ser mais clara do que o uso das construções funcionais citadas anteriormente. Cada abrangência de lista consiste numa expressão seguida da cláusula for, e então
zero ou mais cláusulas forou if. O resultado será uma lista proveniente da avaliação da expressão no contexto das cláusulas fore ifsubsequentes. Se a expressão gerar
uma tupla, a mesma deve ser inserida entre parênteses

In [145]:
x = [1,2,3,4]

In [146]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [147]:
lista1 = [item**2 for item in x]
print(lista1)

lista2 = [item for item in range(5)]
lista2

[1, 4, 9, 16]

[0, 1, 2, 3, 4]

## Funções

In [213]:
def my_func(param1='default'):
    """
    Documentação da função vai aqui.
    """
    print(param1)

In [214]:
my_func

In [215]:
my_func()

default

In [216]:
my_func('novo parametro')

novo parametro

In [217]:
my_func(param1='novo parametro')

novo parametro

In [151]:
def square(x):
    return x**2

In [153]:
out = square(2)
print(out)

4

In [154]:
def funcao(x, y):
    
    a = x+y;
    b = x*y;
    
    return a, b

In [155]:
A, B = funcao(2, 3)
print(A)
print(B)

5
6

## Expressões lamda

In [156]:
def vezes2(var):
    return var*2

In [157]:
vezes2(2)

4

In [158]:
lambda var: var*2

## map e filter

In [159]:
seq = [1,2,3,4,5]

In [160]:
#extração

map(vezes2,seq)

In [161]:
list(map(vezes2,seq))

[2, 4, 6, 8, 10]

In [162]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [163]:
list(map(lambda var: var%2,seq))

[1, 0, 1, 0, 1]

In [166]:
#comparação

filter(lambda item: item%2 == 0, seq)

In [167]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]

## Métodos

In [168]:
st = 'Olá, me chamo Glauco Cardozo'

In [169]:
# coloca todo o texto em lowercase
st.lower()

'olá, me chamo glauco cardozo'

In [170]:
# coloca todo o texto em upercase
st.upper()

'OLÁ, ME CHAMO GLAUCO CARDOZO'

In [179]:
#quebra a string em partes formando uma lista
st.split()

['Olá,', 'me', 'chamo', 'Glauco', 'Cardozo']

In [181]:
lista_st = st.split()
lista_st[3]

'Glauco'

In [182]:
tweet = 'Dale Avai! #Avai1 #Avai2'

In [183]:
tweet.split('#')

['Dale Avai! ', 'Avai1 ', 'Avai2']

In [295]:
tweet.split('#')[1]

'Avai1 '

In [296]:
d

{'chave1': ['item1.1', 'item1.2', 'item1.3'],
 'chave2': ['item2.1', 'item2.2', 'item2.3']}

In [297]:
d.keys()

dict_keys(['chave1', 'chave2'])

In [298]:
d.items()

dict_items([('chave1', ['item1.1', 'item1.2', 'item1.3']), ('chave2', ['item2.1', 'item2.2', 'item2.3'])])

In [317]:
lst = [1,2,3]

In [318]:
#remove elemento da lista

print(lst.pop())
lst

3

[1, 2]

In [319]:
lst.append(4)

In [320]:
lst

[1, 2, 4]

In [321]:
'x' in [1,2,3]

False

In [322]:
'x' in ['x','y','z']

True